<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.7"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Simulation Result Perspective"
            class="de.tudresden.bau.cib.vl.gui.simulation.energy.SimulationPerspective"
            id="sim.perspective">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">

      <!-- TemplateView initialized by Spring -->
      <!--
	  <view name="%TemplateView_name"
		    class="org.eclipse.springframework.util.SpringExtensionFactory:templateView"
		    id="de.tudresden.bau.cib.vl.gui.simulation.energy.ui.view.properties.TemplateView"
		    restorable="true">
	  </view>
	  -->
	  <!-- EnergyPostProcessingView initialized by Spring -->
	  <!--
      <view
            class="org.eclipse.springframework.util.SpringExtensionFactory:energyPostProcessingView"
            id="de.tudresden.bau.cib.vl.gui.simulation.energy.ui.view.properties.EnergyPostProcessingView"
            name="%EnergyPostProcessingView_name"
            restorable="true">
      </view>
      -->
      <!-- ResourcesView initialized by Spring -->
      <view
            category="simviews"
            class="org.eclipse.springframework.util.SpringExtensionFactory:resourceView"
            icon="resources/icons/16x16/folder_http.png"
            id="de.tudresden.bau.cib.vl.gui.simulation.energy.ui.view.additional_top.ResourceView"
            name="%ResourceView_name"
            restorable="true">
      </view>
      
      <!-- ProcessView initialized by Spring -->   
      <view
            category="simviews"
            class="org.eclipse.springframework.util.SpringExtensionFactory:processView"
            icon="resources/icons/16x16/log.png"
            id="de.tudresden.bau.cib.vl.gui.view.process.ui.view.top.ProcessView"
            name="%ProcessView_name"
            restorable="true">
      </view>
      
       <view
             category="simviews"
             class="org.eclipse.springframework.util.SpringExtensionFactory:simResultView"
             icon="resources/icons/22x22/mplayer.png"
             id="de.tudresden.bau.cib.vl.gui.simulation.energy.ui.view.main.SimulationResultView"
             name="%Simulation_Results"
             restorable="true">
      </view> 
      
     <view
           category="simviews"
           class="org.eclipse.springframework.util.SpringExtensionFactory:variationView"
           icon="resources/icons/16x16/tree16x16.png"
           id="de.tudresden.bau.cib.vl.gui.simulation.energy.ui.view.main.VariationView"
           name="%VariationView_name"
           restorable="true">
   </view>
     <category
           id="simviews"
           name="Simulation Views">
     </category>   
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="vl.perspective">
         <view
               closeable="true"
               id="de.tudresden.bau.cib.vl.gui.simulation.energy.ui.view.additional_top.ResourceView"
               minimized="false"
               moveable="true"
               ratio="0.7f"
               relationship="right"
               relative="de.tudresden.bau.cib.vl.gui.bim.ui.view.main.Ifc3DView"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.tudresden.bau.cib.vl.gui.view.process.ui.view.top.ProcessView"
               minimized="false"
               moveable="false"
               ratio="0.95f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="true"
               id="de.tudresden.bau.cib.vl.gui.simulation.energy.ui.view.main.VariationView"
               minimized="false"
               moveable="true"
               ratio="0.6f"
               relationship="right"
               relative="de.tudresden.bau.cib.vl.gui.bim.ui.view.main.OntologyView"
               visible="false">
         </view>          
         
      </perspectiveExtension>
      <perspectiveExtension
            targetID="sim.perspective">
         <view
               closeable="false"
               id="de.tudresden.bau.cib.vl.gui.simulation.energy.ui.view.main.SimulationResultView"
               minimized="false"
               moveable="true"
               ratio="0.25f"
               relationship="right"
               relative="de.tudresden.bau.cib.vl.gui.core.view.UserProjectView"
               visible="true">
         </view>
         <view
               closeable="true"
               id="de.tudresden.bau.cib.vl.gui.bim.ui.view.main.Ifc3DView"
               minimized="false"
               ratio="0.7f"
               relationship="bottom"
               relative="de.tudresden.bau.cib.vl.gui.core.view.UserProjectView"
               visible="true">
         </view>
         <view
               closeable="true"
               id="de.tudresden.bau.cib.vl.gui.simulation.energy.ui.view.main.VariationView"
               moveable="true"
               relationship="stack"
               relative="de.tudresden.bau.cib.vl.gui.bim.ui.view.main.Ifc3DView">
         </view> 
      </perspectiveExtension>
   </extension>

</plugin>
